
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

body {
  @apply bg-black text-white font-sans;
  font-family: 'Orbitron', sans-serif;
  background-image: radial-gradient(circle at 50% 50%, rgba(0, 255, 255, 0.03), transparent 40%);
  background-repeat: repeat;
  background-size: 800px 800px;
  animation: backgroundMove 60s linear infinite;
}

@keyframes backgroundMove {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 1s ease-out forwards;
}


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-intro {
  background: linear-gradient(270deg, #00ffff, #000000, #0000ff);
  background-size: 600% 600%;
  animation: gradientMove 12s ease infinite;
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}
